.note-icon {
	position: relative;
	top: -3px;
	color: $accent;
	font-size: 12px;
	right: -3px;
}
.d-flex{
	display: flex;
}
.justify-content-center{
	justify-content: center;
}
.align-items-center{
	align-items: center;
}
