mat-card.tab-sheet
	//- .mb-10.layout-row.layout-align-end(*ngIf='project?.quotation_status !== QUOTATION_STATUS?.WAITING_APPROVAL && project?.quotation_status !== QUOTATION_STATUS?.APPROVED && !isLiabilitiesAccountant && !isCFO')
	include tab-sheet-bill.partial.pug
