.project-cost-config
	include blocks/form-project-management.partial.pug
	include blocks/block-project-user.partial.pug
	include blocks/block-project-finance-info.partial.pug
	include blocks/table-project-cost-modification.partial.pug
