@import '~angular-core/lib/scss/partials/variable';
@import 'src/scss/partials/variable';

.project-vo-detail {
	&__input-status {
		.mat-form-field.mat-focused .mat-form-field-outline {
			color: unset;
		}

		.mat-form-field-outline {
			color: currentColor;

			&:before {
				content: '';
				background-color: currentColor;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				border-radius: 5px;
				opacity: .2;
			}
		}

		input {
			color: $black;
		}
	}
}
