.settings.page
	sidebar
		sidebar-item(
			[routerLinkActive]='[ "active" ]',
			[routerLink]='"/finance/settings/general"')
			| {{ "FINANCE.SETTINGS.LABELS.GENERAL" | translate }}

	.page__content
		.container
			router-outlet
